body {
  display: grid;
  grid-template-areas: "header" "article" "footer";
  grid-template-rows: auto 1fr 70px;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0; }

header,
footer,
article,
div {
  padding: 1.2em; }

#grid-header {
  grid-area: header;
  background-color: darkorchid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin: 3px; }

.quiz-select-menu {
  display: flex;
  flex-flow: row wrap; }

.header-title {
  color: lightyellow;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

#grid-footer {
  grid-area: footer;
  background-color: darkslategray; }

.footer-text {
  color: antiquewhite; }

#grid-article {
  grid-area: article; }

.flex-article {
  display: flex;
  flex-direction: row; }
  @media (max-width: 800px) {
    .flex-article {
      display: flex;
      flex-direction: column; } }

.public-question {
  flex-grow: 5;
  order: 1; }

.public-quiz-side {
  flex-grow: 5;
  min-width: 300px;
  order: 2;
  display: flex;
  flex-direction: column; }

.question-result {
  background-color: lightyellow;
  order: 1; }
  @media (max-width: 800px) {
    .question-result {
      order: 2; } }

.question-selection {
  background-color: darkkhaki;
  display: flex;
  flex: 1 100px;
  align-items: flex-start;
  justify-content: flex-start;
  order: 2;
  flex-flow: column nowrap; }
  @media (max-width: 800px) {
    .question-selection {
      order: 1;
      flex-flow: row wrap; } }

.btn-question {
  display: block; }

.btn-quiz-start {
  font-weight: 700;
  color: bisque;
  text-decoration: none;
  padding: 1em;
  border-radius: 5px;
  background-color: darkred;
  box-shadow: 3px crimson;
  transition: 0.4s; }
  .btn-quiz-start:hover {
    background-color: crimson; }
  .btn-quiz-start:active {
    color: darkred;
    background-color: btnQuizColorWhite;
    border-color: crimson;
    box-shadow: 3px darkred inset; }
  .btn-quiz-start.btn-quiz-active {
    color: darkred;
    border-color: crimson;
    box-shadow: 3px darkred inset; }
    .btn-quiz-start.btn-quiz-active:not(:hover) {
      background-color: bisque; }
