<form action="signin.php" method="POST">
    <div>
        <label>
            <span>Username</span>
            <input type="text" name="userName"/>
        </label>
    </div>

    <div>
        <label for="passwordField">Password</label>
        <input id="passwordField" type="password" name="password"/>
    </div>

    <div>
        <label>
            <input type="checkbox" name="rememberMe"/>&nbsp;Remember Me?
        </label>
    </div>

    <button type="submit">Sign In</button>
</form>
