<div class="user-card">
    <img src="http://mysite.com/users/vitalik.jpg"
         alt="Vitalik B."
         width="60"
         height="60"/>

    <h4 class="username">Vitalik94</h4>

    <div class="user-info">
        <div class="city">Saransk</div>
        <div class="age">165</div>
    </div>

    <button type="button">
        <i class="icon icon-like" aria-hidden="true"></i>
		
		&nbsp;
		
		
		Like
    </button>
</div>

<i>Italic</i>
