<video controls width="600" height="400" poster="http://placekitten.com/600/400">
	<source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
	<source src="video-ogg-format.ogg" type="video/ogg" />
	<object>
		<p>Video is not supported by this browser.</p>
	</object>
</video>

<audio controls>
  <source src="horse.ogg" type="audio/ogg">
  <source src="horse.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
</audio>
