<svg width="300" height="300">
  <rect y="0" fill="#FFFFFF" width="300" height="100"/>
  <rect y="100" fill="#0039A6" width="300" height="100"/>
  <rect y="200" fill="#D52B1E" width="300" height="100"/>
</svg>