<svg width="900" height="300" viewBox="0, 0, 28, 10">
  <g transform="scale(4, 1) translate(0, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="1" />
    <rect x="1" fill="green" width="1" height="2" />
    <rect x="2" fill="blue" width="1" height="3" />
  </g>
  <g transform="scale(4, 1) translate(1, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="4" />
    <rect x="1" fill="green" width="1" height="5" />
    <rect x="2" fill="blue" width="1" height="6" />
  </g>
  <g transform="scale(4, 1) translate(2, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="7" />
    <rect x="1" fill="green" width="1" height="8" />
    <rect x="2" fill="blue" width="1" height="9" />
  </g>
  <g transform="scale(4, 1) translate(3, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="4" />
    <rect x="1" fill="green" width="1" height="7" />
    <rect x="2" fill="blue" width="1" height="1" />
  </g>
  <g transform="scale(4, 1) translate(4, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="9" />
    <rect x="1" fill="green" width="1" height="9" />
    <rect x="2" fill="blue" width="1" height="9" />
  </g>
  <g transform="scale(4, 1) translate(5, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="0" />
    <rect x="1" fill="green" width="1" height="0" />
    <rect x="2" fill="blue" width="1" height="0" />
  </g>
  <g transform="scale(4, 1) translate(6, 10) scale(0.25, -1)">
    <rect x="0" fill="red" width="1" height="0" />
    <rect x="1" fill="green" width="1" height="0" />
    <rect x="2" fill="blue" width="1" height="0" />
  </g>
</svg>