<!-- https://habr.com/ru/post/214407/ -->
<section>
    <header>
        <h2>Статьи в блоге</h2>
    </header>
    <main style="width: 100%; background-color: bisque;">
        <article>
            <header>
                <h3 style="width: 60%;">
                    Как сделать табурет своими руками: изготавливаем табурет из дерева, чертеж и пошаговая инструкция
                </h3>
                <footer>
                    <aside>
                        <a target="_blank"
                            href="https://stroyday.ru/stroitelstvo-doma/interernoe-oformlenie-doma/kak-sdelat-taburet-svoimi-rukami.html">Оригинал</a>
                    </aside>
                </footer>
            </header>
            <section>
                Табурет – это привычный для всех, удобный и компактный предмет мебели, который чаще всего используется
                на кухне или в дачных условиях. Приобретенные в магазине и изготовленные из древесных композитов стулья
                далеко не всегда отвечают всем требованиям потребителей с точки зрения эстетики и практичности для таких
                условий, да еще при этом и достаточно дороги. Поэтому-то и возникает вопрос о том, как сделать табурет
                своими руками из дерева, чтобы он был надежен и прослужил много лет.
            </section>
        </article>

        <article>
            <header>
                <h3 style="width: 60%;">
                    Из чего состоит мыло
                </h3>
                <footer>
                    <aside>
                        <a target="_blank" href="https://vsepodomu.ru/stirka/iz-chego-delayut-mylo/">Оригинал</a>
                    </aside>
                </footer>
            </header>
            <section>
                Первое мыло начали изготавливать еще более пяти тысяч лет назад. Первую мыльную продукцию делали из
                топленого сала и золы деревьев. Постепенно в состав начали добавлять другие компоненты, среди которых
                растительные масла и соки, китовый и говяжий жир, глина и другие.
            </section>
        </article>

        <article>
            <header>
                <h3 style="width: 60%;">
                    Веревочные узлы, их виды и способы вязки
                </h3>
                <footer>
                    <aside>
                        <a target="_blank"
                            href="https://www.gearshout.net/verevochnyie-uzlyi-ih-vidyi-i-sposobyi-vyazki/">Оригинал</a>
                    </aside>
                </footer>
            </header>
            <section>
                В этой статье мы начнем показывать и рассказывать о веревочных узлах, их видах и разных способах их
                вязки, информация будет переводческий обновляется по мере отснятия новых видео-инструкций. Порой
                человека узлы преследуют на каждом шагу, выходя из дома, мы завязываем галстук и ботинки, в быту и на
                природе, нам приходиться вязать узлы. Любой рыбак или охотник уже умеет завязывать различные узлы для
                своих нужд. А в альпинизме или в морском деле, люди просто обязаны уметь завязывать с десяток узлов.
            </section>
        </article>
    </main>
    <nav style="text-align: center">
        <button>В начало</button>
        ...
        <button>3</button>
        <button disabled>4</button>
        <button>5</button>
        ...
        <button>В конец</button>
    </nav>
</section>