<form action="signup.php" method="POST">
    <div>
        <label>
            <span>Username</span>
            <input id="userName" type="text" name="userName" />
        </label>
    </div>

    <div>
        <label>
            <span>Email</span>
            <input id="email" type="email" name="email" required/>
        </label>
    </div>

    <div>
        <label for="passwordField">Password</label>
        <input id="passwordField" type="password" name="password" required />
        <ul style="color: red"> Password must contain:
            <li>At least 6 symbols</li>
            <li>Numeric symbol</li>
            <li>Both upper and lower case letters</li>
            <li>Chinese hieroglyph</li>
            <li>Praying to Satan</li>
        </ul>
    </div>

    <div>
        <label for="repeatPasswordField">Repeat password</label>
        <input id="repeatPasswordField" type="password" name="repeatPassword" required />
    </div>

    <button type="submit">Sign Up</button>
</form>