<table border="1">
    <thead>Продажи за неделю</thead>
    <tbody>
        <tr>
            <th style="min-width: 10em"></th>
            <th style="min-width: 10em">Фрукты</th>
            <th style="min-width: 10em">Овощи</th>
            <th style="min-width: 10em">Сладости</th>
        </tr>
        <tr>
            <td>Понедельник</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Вторник</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Среда</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Четверг</td>
            <td>4</td>
            <td>7</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Пятница</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Суббота</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Воскресенье</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>